@model Aluno

<figure class="text-center">
    <h1 style=" font-size: 35px; color: #ECB038;"> <strong>Seja Bem-Vindo !</strong></h1>
    <h2 style=" color: #ECB038;"> <strong>Faça seu Cadastro</strong></h2>
</figure>
<body style=" background-color: #6193A1;margin: auto;"></body>


<form style=" font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; font-size: 16px;">
    
    <div class="mb-3">
        <label  class="form-label">Nome</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Curso</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">CEP</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label  class="form-label">Data de Nascimento</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
</form>
<br />
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
     <a class="btn btn-primary me-md-2" style="font-size:20px; background-color: #ECB038;" type="button">Adicionar</a>
      <a class="btn btn-primary" style=" font-size:20px; background-color: #ECB038;" type="button" asp-controller="Aluno" asp-action="Index">Fechar</a> 
</div>