<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Professor</title>
    <h1 style="text-align:center; color: #ECB038;">Nossos Professores</h1>
    <p></p>
</head>
<body style=" background-color: #6193A1;margin: auto;">
   <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nivaldo Puhler</h5>
                    <p class="card-text">Product Manager | Professor | Mentor.</p>
                    <a href="#" class="btn btn-outline-success me-2" style="background-color: #ECB038;"> Detalhes</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
                    <h5 class="card-title">Katia Schmitt Pollheim </h5>
                    <p class="card-text">Desenvolvedor de Software | Product Owner | Professora de TI.</p>
                    <a href="#" class="btn btn-outline-success me-2" style="background-color: #ECB038; ">Detalhes</a>
      </div>
    </div>
  </div>
</div>
</body>
<p><p/>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-success me-2" style="background-color: #ECB038;" type="button">Adicionar novo Profressor</button>
</div>
</html>